{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/movies_style.css' %}">
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block logged_in_content %}

    <h2>Add Movie</h2>

    <form method="POST" >
        {% csrf_token %}
    <div>
        {{ form.title }}
    </div>
    <div>
        {{ form.regisseur }}
    </div>
    <div>
        {{ form.summary }}
    </div>
    <div>
    <label for="type">Type:</label>
        {{ form.type }}
    </div>
    <div>
    <label for="fsk">FSK:</label>
        {{ form.fsk }}
    </div>
    <div>
        {{ form.date }}
    </div>
    <div>
       <button class="button" type="submit" role="button">Add movie</a></button>
    </div>
    </form>

{% endblock %}

{% block not_logged_in_content %}
    <p>You must log in to add movies</p>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}